<!DOCTYPE html>
<html>
<head>
  <title>Tailwind CDN Example</title>
  <!-- Include the Play CDN script -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <div class="text-5xl px-3 bg-green-100 py-3">
    <p class="text-start text-green-600 font-semibold">Contacts</p>
  </div>